
<nav id="navbar" class="navbar navbar-expand-sm navbar-light bg-light px-2 py-0">

    <a class="navbar-brand cust-font link-text" href="./">Home</a>
    <button class="navbar-toggler p-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item cust-font">
                <a class="nav-link link-text" href="./quizbuilder.html">Quizbuilder</a>
            </li>
            <li class="nav-item cust-font">
                <a class="nav-link link-text" href="./mailcall.html">Mailcall</a>
            </li>
            <li class="nav-item cust-font">
                <a class="nav-link link-text" href="./sudoku.html">Sudoku</a>
            </li>

        </ul>
    </div>
</nav>