@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');

html {
    font-size: 16px;
}
body {
	background-color: #1c5e81;
}
.cust-font {
	font-family: 'Rancho', cursive;
}
.link-text {
	font-size: 140%;
}
